<!DOCTYPE html>
<html>

<head>
    <h1> WELCOME TO MY PAGE </h1>
</head>

<body>
    <p> Please enter details: </p>

    <form id="myForm" action="/authenticate_user" method="POST">
        <input type="text" name="fname"></input>
        <input type="text" name="lname"></input>
        <input type="submit" value="Submit"></input>
    </form>
    <script>
        $('#myForm').click(function(event) {
            // Prevent redirection with AJAX for contact form
            var form = $('#myForm');
            var form_id = 'myForm';
            var url = form.prop('action');
            var type = form.prop('method');
            var formData = getContactFormData(form_id);

            // submit form via AJAX
            modular_ajax(url, type, formData);
        });

        }

        function getContactFormData(form) {
            // creates a FormData object and adds chips text
            var formData = new FormData(document.getElementById(form));
            //    for (var [key, value] of formData.entries()) { console.log('formData', key, value);}
            return formData
        }

        function modular_ajax(url, type, formData) {
            // Most simple modular AJAX building block
            $.ajax({
                url: url,
                type: type,
                data: formData,
                processData: false,
                contentType: false,
                beforeSend: function() {
                    // show the preloader (progress bar)
                    $('#form-response').html("<div class='progress'><div class='indeterminate'></div></div>");
                },
                complete: function() {
                    // hide the preloader (progress bar)
                    $('#form-response').html("");
                },
                success: function(data) {
                    if (!$.trim(data.feedback)) { // response from Flask is empty
                        toast_error_msg = "An empty response was returned.";
                        toast_category = "danger";
                    } else { // response from Flask contains elements
                        toast_error_msg = data.feedback;
                        toast_category = data.category;
                    }
                },
                error: function(xhr) {
                    console.log("error. see details below.");
                    console.log(xhr.status + ": " + xhr.responseText);
                    toast_error_msg = "An error occured";
                    toast_category = "danger";
                },
            }).done(function() {
                M.toast({
                    html: toast_error_msg,
                    classes: 'bg-' + toast_category + ' text-white'
                });
            });
        }
        window.onload = login()
        window.onload = create_form()
    </script>
    <div id='form-response'> </div>
</body>

</html>